.estadísticas-bloque1{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: left;
}

.bloque1-figura{
    background-color: #FFD477;
    width: 70vw;
    height: 100vh;
    position: absolute;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    clip-path: circle(50% at 35% 29%);
    z-index: 0;
}

.bloque1-contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    width: 100%;
}

.bloque1-contenedor-texto{
    font-family: 'Rosario', sans-serif;
    color: #3BAFBF;
    z-index: 10;
}
.bloque1-contenedor-texto h1{
    font-family: 'ABeeZee', sans-serif;
    font-size: 3.3rem;
    margin: 8vh 0px;
    margin-top: 8vh;
}

.bloque1-contenedor-texto p{
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    width: 30vw;
    margin-left: 10vw;
}
.bloque1-contenedor img{
    width: 45%;
}


/*BLOQUE 2*/
.estadísticas-bloque2{
    display: flex;
    max-width: 1440px;
    padding: 0px 20px;
    font-family: 'Rosario', sans-serif;
    color: #3BAFBF;
}
/*Barra de enfermedades*/
a {
    text-decoration: none;
}
.selectbox{
    background-color: rgba(59, 175, 191, 0.4);
    border-radius: 15px;
    margin-right: 50px;
}
.contenido-opcion {
    display: flex;
    align-items: center;
    padding-left: 3vw;
}
.titulo{
    font-weight: 700;
    font-size: 25px;
    margin: 10px;
}
.contenido-opcion:hover{
    background-color: rgba(255, 255, 255, 0.81);
    cursor: pointer;
}
/*Bloque de estadísticas*/
.bloque2-estadísticas{
    display: flex;
    flex-direction: column;
    width: 90%;
}

/*Barra para buscar*/
.bloque2-busquedas{
    display: flex;
}
.bloque2-buscar{
    background-color: rgba(15, 192, 248, 0.02);
    box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.5), inset 2px 2px 4px rgba(170, 170, 204, 0.25), inset 5px 5px 10px rgba(170, 170, 204, 0.5), inset -5px -5px 10px #FFFFFF;
    border-radius: 40px;
    align-items: left;
    justify-content: left;
    padding: 0px 10px;
    width: 200px;
    margin-right: 30px;
}
.bloque2-buscar img{
    width: 17px;
    margin: 0px 5px;
}
.bloque2-buscar input{
    outline: none;
    border: none;
    background: none;
    padding: 10px 0px;
}

/*Nombre del departamento*/
.bloque2-estadísticas h2{
    font-family: 'ABeeZee', sans-serif;
    font-size: 55px;
    text-align: center;
    margin: 25px 0px;
}
/*Select para sexo*/
.bloque2-estadísticas select{
    outline: none;
    border: none;
    width: 150px;
}

/*Gráfica*/
.gráfica{
    width: 670px;
    margin-left: 190px;
}
/*Cifras debajo de la gráfica*/
.bloque2-cifras{
    display: grid;
    grid-template-columns: repeat(1 fr, 3);
    grid-template-rows: repeat(1 fr, 2);
    text-align: center;
    grid-column-gap: 50px;
    font-size: 30px;
}
.cifras{
    grid-row: 1;
    margin: 8px 0px;
}
.texto{
    grid-row: 2;
    margin: 8px 0px;
    font-weight: 700;
}

/*RESPOSIVE BLOQUE 1*/
@media screen and (max-width:1115px){
    
    .bloque1-contenedor-texto h1 {
        text-align: center;
    }
}
@media screen and (max-width: 770px){
    .bloque1-contenedor{
        flex-direction: column-reverse;
    }
    .bloque1-contenedor-texto p{
        width: 65vw;
        margin: 0px 25px;
        font-size: 28px;
    }
    .bloque1-contenedor img{
        margin-top: 45px;
    }
    .bloque1-figura{
        width: 100vw;
        clip-path: circle(55% at 48% 2%);
    }
    /*BLOQUE 2*/
    .estadísticas-bloque2{
        flex-direction: column;
        align-items: center;
    }
    .bloque2-busquedas{
        flex-direction: column;
        align-items: center;
        grid-row-gap: 10px;
    }
    .bloque2-cifras{
        grid-column-gap: 40px;
        font-size: 25px;
    }

    .selectbox {
        width: 300px;
        position: relative;
        background: none;
    }

    .select {
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        background: #3BAFBF;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, .16);
        justify-content: space-between;
        align-items: center;
        transition: .2s ease all;
        padding: 12px 20px;
        position: relative;
        z-index: 200;
        border: 2px solid transparent;
    }

    .select.active,
    .select:hover {
        box-shadow: 0px 5px 10px rgba(0, 0, 0, .16);
    }

    .select i {
        font-size: 30px;
        margin-left: 30px;
        color: #FDF7F7;
    }

    .titulo {
        color: #FDF7F7;
        font-size: 22px;
    }
    .contenido-opcion h1{
        font-weight: 0;
        margin: 0;
    }
    .opciones {
        background: #3BAFBF;
        border-radius: 5px;
        box-shadow: 0px 5px 10px rgba(0,0,0,.16);
        max-height: 450px;
        overflow: auto;
        z-index: 100;
        width: 100%;
        display: none;
    }

    .opciones.active {
        display: block;
        animation: fadeIn .3s forwards;
    }

    @keyframes fadeIn {
        from {
            transform: translateY(-100px) scale(.5);
        }
        to {
            transform: translateY(0) scale(1);
        }
    }

    .contenido-opcion {
        width: 100%;
        padding-left: 0px;
        transition: .2s ease all;
    }
    .opciones .contenido-opcion h1{
        padding: 14px 20px;
    }
    .opciones .contenido-opcion:hover {
        background: #9AD8E0;
    }

}
@media screen and (max-width: 665px){
    .bloque1-contenedor-texto p{
        width: 75vw;
        font-size: 27px;
    }
    .bloque1-contenedor img{
        margin-top: 55px;
    }
    .bloque1-contenedor-texto h1{
        font-size: 3rem;
    }

}